@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

.container {
    padding: 1.5rem 2.5rem;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 700;
}

.time {
    font-size: 3rem;
}

#am-pm {
    font-size: 2rem;
}

.date {
    font-size: 2rem;
}

.place-container {
    text-align: end;

}

.timezone {
    font-size: 3rem;
    font-weight: 100;
}

.country {
    font-size: 1rem;
    font-weight: 700;
}

.others {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 1.5rem;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: .8rem;
    margin: .8rem 0;
}

.weather-item {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    padding: .5rem;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    color: antiquewhite;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

.today {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    width: max-content;
    border: none;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-radius: .8rem;
    box-shadow: 5px 5px 10px black;

}

.today .day {
    padding: .4rem .8rem;
    background-color: #86868b;
    border-radius: 2rem;
}

.today .temp {
    font-size: 1rem;
    padding-top: 1.5rem;
}

.weather-forecast {
    display: flex;
}

.other {
    width: max-content;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .8rem;
    border: none;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    box-shadow: 5px 5px 10px black;
    border-radius: 1rem;
    padding: 1rem;
    width: max-content;
}

.weather-forecast .day {
    padding: .4rem .8rem;
    background: #86868b;
    border-radius: 3rem;
    text-align: center;
}

.weather-forecast .temp {
    font-weight: 100;
}
